@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=VT323&display=swap');

:root {
	--primary-color: #e0e0e0;
	--secondary-color: #000;
	--tertiary-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'VT323', 'Nanum Gothic Coding', monospace;
	font-size: 20px;
	line-height: 1.6;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	padding: 1rem;
}

main {
	padding-bottom: 1rem;
}

div {
	text-align: center;
}

.profile-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
  height: 90vh;
	/* Adjusted from 100vh */
}

.profile-text {
	text-align: left;
}

.about-me-text {
	margin-bottom: 1.5em;
}

.youtube-video {
	width: 90%;
	aspect-ratio: 16 / 9;
	max-width: 500px;
	border: 1px solid var(--primary-color);
	padding: 10px;
	margin: 20px auto;
}

a {
	color: var(--primary-color);
	text-decoration: underline;
}

a:visited {
	color: var(--primary-color);
}

a:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.banner {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 70px 0.5em 0.5em;
	text-align: center;
	border-bottom: 2px solid var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header h1 {
	text-align: center;
	margin-bottom: 0.5em;
	padding-top: 1em; /* Add space above the h1 */
}

.korean-name {
    font-size: 0.5em;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--secondary-color);
	padding: 0.5em;
	text-align: center;
	z-index: 1;
	border-bottom: 2px solid var(--primary-color);
}

nav a {
	margin: 0 10px;
}

header p {
	margin-bottom: 1em;
}

p {
	max-width: 800px;
	margin: auto;
}

section {
	padding: 1.5em;
	max-width: 800px;
	margin: auto;
	background: var(--secondary-color);
	margin-top: 1em;
	border: 2px solid var(--primary-color);
	border-radius: 0;
}

h2 {
	color: var(--primary-color);
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

#contact p {
	margin-bottom: 1em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 1em;
}

footer {
	text-align: center;
	padding: 0.5em;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-top: 2px solid var(--primary-color);
	margin-top: 1rem;
}

.profile-image {
	width: 75vh;
	height: 75vh;
	border-radius: 0;
	object-fit: cover;
	max-width: 100%;
	border: 2px solid var(--primary-color);
}

::selection {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

::-moz-selection {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-text {
        text-align: center;
    }

    .profile-image {
        width: 80vw;
        height: 80vw;
    }
}
